.mapContainer{
    display: flex;
    flex-direction: column;
}


.map{
    width: 500px;
    height: 60%;
    border-radius: 20px;
    position: relative;
    top: 8px;
    left: 12px;
    flex: 1;
}

.ad{
    margin-top: 30px;
    flex: 1;
}
